doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Entry Management Software
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js')
        link(rel="stylesheet", href="style.css")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    body
    -let count=1;
        .container
            table.table.table-striped.table-hover
                thead
                    tr
                        th(scope='col') S.no.
                        th(scope='col') Visitor Name
                        th(scope='col') Visitor Email
                        th(scope='col') Visitor Phone Number
                        th(scope='col') Host Name
                        th(scope='col') Check-In Time
                        th(scope='col') Check-Out Time
                tbody
                    for user in users
                        tr
                            th(scope='row') #{count++}
                            td #{user.visitorName}
                            td #{user.visitorEmail}
                            td #{user.visitorPhone}
                            td #{user.hostName}
                            td #{user.checkInTime}
                            td #{user.checkOutTime}
        script(src='dashboard.js')
